<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>서울신학대학교</h1>
<form action="{% url 'search' %}" method="GET">
  <input type="text" name="q" placeholder="검색어를 입력하세요...">
  <button type="submit">검색</button>
</form>
{% if content_list %}
    {% for content in content_list %}
        <hr/>
        <h3><a href="/product/{{ content.id }}/">{{ content.title }}</a></h3>
        <h5>{{ content.content }}</h5>
    {% endfor %}
{% else %}
    <p>content가 없습니다.</p>
{% endif %}
</body>
</html>